*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}